# Entorno y secretos del bot
bot/.env
bot/venv/

# Archivos temporales de Python
bot/__pycache__/
bot/**/*.pyc

# Datos y configuración privada
bot/dat/config.json
bot/dat/watcdog.json

# Logs y PID
bot/*.log
bot/*.pid